$primary-color: #A78BFA;
$secondary-color: #EDE9FE;
$accent-color: #F472B6;
$neutral-bg: #F3F4F6;
$text-color: #374151;
$hover-color: #7C3AED;
$primary: #A78BFA;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: lighten($primary, 10%);

$border-radius: 0.75rem;
$padding: 1.5rem;
$box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
$card-radius: 1rem;